
/**{
  border: 1px solid red;
}*/
html {
    height: 100%;
 }
 body {
    height: 100%;
    background-image: url("http://prettywallpapershd.xyz/wp-content/uploads/2016/02/puppy_wallpaper_for_laptop_gn6.jpg");
 }
 .rapper {
    width:800px;
    margin: 0 auto 0 auto;
 }
 header a {
    color: black;
    text-align: center;
 }
 header {
    background-color: #69EBD0;
    padding: 5px;
    font-size: 20px;
    display: block;
    text-align: center;
 }
 .sign {
    text-align:right;
 }
 nav {
    float: left;
    text-align: center;
    width:800px;
    margin:10px;
    padding:10px
 }
 nav ul {
    padding: ;
    float: left;
    border-bottom: ;
    list-style-type: none;
 }
 nav li {
    float: left;
    text-align: center;
    margin-left: 50px;
 }

 a {
    color: ;
 }

 section {
    width: 800px;
    display: inline-block;
    float: left;
    padding:10px;
    text-align: center;
 }

.goal {
    margin-top: 10px;
    background-color: white;
}
