/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    .bigfont {
      font-size: 3em;
    }
    body {
       width: 900px;
       height: 100%;
       background-color: transparent;
       background-image: url("http://prettywallpapershd.xyz/wp-content/uploads/2016/02/puppy_wallpaper_for_laptop_gn6.jpg");
   }
    }
    header {
        background-color: transparent;
        padding: 5px;
        font-size: 1em;
        display: block;
        text-align: center;
    }
    nav {
        float: left;
        background-color: #0099ff;
        border: 3px solid blue;
    }
    nav ul {
        padding: 5px;
        float: right;
        border-bottom: 3px;
        list-style-type: none;
    }
    nav li {
      float: left;
    }
    nav li a {
        border: 5px #000000;
        background-color: transparent;
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: #0B2F3A;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:2px;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:transparent;
        color:blue;
        clear: both;
        display: block;
    }
    img {
    }
